@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@300&display=swap');


*body{
    margin: 0;
    padding: 0;
    font-family: 'Koh Santepheap', cursive !important;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-bar{
    background-color: #000000;
    color: white;
    padding: 1px;
}
 .fas{
    padding-left: 200px;
    color: white;
}
.navbar-brand{
    color: white !important;
}
.nav-link{
    color:white !important;
}
.navbar-nav{
    padding-right: 200px !important;
}
#banner{
    background-image: url("img1.jpg");
    height: 500px;
    background-repeat: repeat-x;    
}
#banner h1{
    padding-top: 100px;
    font-weight: bolder;
    font-size: 130px;
    color: white;
    font-style: italic;
    
    text-shadow: 0.5px -3px 4px #000000;
}
#banner p{
    color: white;
    font-size: 40px;
}
#basic-addon1{
    color: #000000;
    background-color: rgb(238, 196, 142);
}
